<!--<div class="container justify-content-center m-auto p-auto">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let controlName of dynamicForm.controls | keyvalue">
      <label for="{{ controlName.key }}">{{ controlName.key }}</label>
      <input
        [formControlName]="controlName.key"
        [id]="controlName.key"
        type="text"
        class="form-control"
      />
    </div>
    <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Large input</label>
      <input type="text" id="large-input" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
  </form>
</div>-->

<app-produit></app-produit>
